.App {
  text-align: center;
}

img{
  height: 200px;
  object-fit: contain;
}

.tc-container{
  position: relative;
  
}

.top-img{
  position: absolute;
  left: 0;
  top: 0;
  transition: all .7s  ease;
  opacity: 0;
  background: white;
}

.top-img:hover{
  opacity: 1;
}

.category-filter:hover{
  background: lightcoral;
}

.login-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
